<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css"
        integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs4/dt-2.0.7/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar navbar-expand-lg " style="background-color:  #f8f8f8; ">
        <div class="container" style="background-color: #f8f8f8; ">
            <a href="/admin" class="navbar-brand"></i> </a>
            <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <u1 class="navbar-nav ms-auto">
                    <li class="nav-item active">
                      <b> <a class="nav-link" href="/" style="color: #2c9caf;" ></i>Home</a></b> 
                    </li>
                    <li class="nav-item active">
                       <b> <a class="nav-link" href="/admin/add" style="color: #2c9caf;">Add Shop</a></b>
                    </li>
                    <li class="nav-item active">
                      <b> <a class="nav-link" href="#" style="color: #2c9caf;">About</a></b> 
                    </li>
                    <li class="nav-item active">
                       <b> <a class="nav-link" href="#" style="color: #2c9caf;">Contact</a> </b>
                    </li>
                </u1>
            </div>
        </div>

    </nav>

  
    <h1 style="margin: 10px; color: #2c9caf;" > WELCOME BACK</h1>

